.logout-button, .login-state, .mini-pfp {
    margin-left: 0.5rem;
}

.username-link {
    margin-left: 0.2rem;
}

.mini-pfp {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 100%;
}