<nav class="navbar fixed-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Question Database</a>
        <div class="d-flex" id="navbar-content">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Quick search..." id="search_field"
                        name="search-value" required [(ngModel)]="this.searchText">
                    <button type="submit" class="btn btn-outline-primary"
                        (click)="this.searchButtonHandler($event)">Search</button>
                </div>
            </form>
            <div class="login-state">
                <div *ngIf="this.isLoggedIn; else elseBlock" class="d-flex justify-content-center align-items-center">
                    Hello,
                    <a routerLink="user" class="username-link">{{this.username}}</a>!
                    <img class="mini-pfp" [src]="this.qService.getCurrentProfilePictureUrl()">
                    <button class="btn btn-outline-secondary logout-button"
                        (click)="this.logoutButtonHandler($event)">Logout</button>
                </div>
                <ng-template #elseBlock>
                    <a routerLink="/login">
                        <button class="btn btn-outline-primary">Login</button>
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</nav>