<div class="d-flex">
    <div class="col-9">
        <app-questions-with-paginating [message]="'Total number of questions:'"
            [listingType]="'GENERAL'"></app-questions-with-paginating>
    </div>
    <div class="col-3 p-2">
        <div *ngIf="this.qService.isLoggedIn && this.qService.rank !== 'RESTRICTED'">
            <button class="btn btn-outline-primary my-2" routerLink="question/new">Create new question</button>
        </div>
        <button class="btn btn-outline-primary my-2" routerLink="search">Advanced search</button>
        <button class="btn btn-outline-primary" (click)="this.randomQuestionButton()">Take me to a random
            question!</button>
        <app-tags-box [tagsWithCount]="this.tagsWithCount"></app-tags-box>
    </div>
</div>