<app-paginating [message]="this.message" [totalCount]="this.questions?.resultsCount ?? 0"
    (selectedPagesize)="this.pageSize = $event"></app-paginating>
<div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="this.titleOnly" id="titleOnlyCheckbox">
    <label class="form-check-label" for="titleOnlyCheckbox">
        Show titles only
    </label>
</div>
<div *ngFor="let i of this.questions?.questions; let idx = index">
    <app-question-card [question]="i" [titleOnly]="this.titleOnly"
        [selfNumber]="this.pageSize === undefined ? idx + 1 : this.pageIndex * this.pageSize + idx + 1" />
</div>