<div class="container py-3">
    <div class="d-flex flex-column">
        <div class="d-flex w-100 justify-content-between">
            <button class="btn btn-outline-primary" (click)="this.backButtonHandler($event)">Back</button>
            <div *ngIf="this.question?.currentUserHasEditingRights && !this.isInEditMode">
                <button class="btn btn-outline-primary" (click)="this.editButtonHandler()">Edit</button>
            </div>
            <div *ngIf="this.isInEditMode && !this.isInCreateMode">
                <button class="btn btn-outline-primary" (click)="this.abortButtonHandler()">Abort changes</button>
            </div>
        </div>
        <div class="my-3">
            <h2 *ngIf="!this.isInEditMode; else elseBlock">{{this.question?.title}}</h2>
            <ng-template #elseBlock>
                <div class="w-100 p-1">
                    <input type="text" class="form-control" placeholder="Enter question title here"
                        [(ngModel)]="this.question!.title">
                </div>
            </ng-template>
            <div class="d-flex flex-row flex-grow-1">
                <div class="col-6 px-1" *ngIf="this.isInEditMode">
                    <textarea class="w-100 h-100 form-control" [(ngModel)]="this.questionBody"
                        placeholder="Enter question text here"></textarea>
                </div>
                <div class="px-1">
                    <h5 *ngIf="this.isInEditMode">Live preview</h5>
                    <div [innerHTML]="this.questionBodyFormatted" class="questionbody"></div>
                </div>
            </div>
        </div>
        <div *ngIf="this.question?.tags?.length && !this.isInEditMode">
            <h5>
                Tags:
            </h5>
            <app-tag-badges [tags]="this.question?.tags!"></app-tag-badges>
        </div>
        <div *ngIf="this.isInEditMode">
            <p>Separate tags with comma:</p>
            <input type="text" class="form-control" placeholder="Tags" [(ngModel)]="this.tagsRaw">
        </div>
        <div *ngIf="!this.isInCreateMode">
            <span class="creatortext p-1">Created by: {{this.question?.createdby ?? "[deleted user]"}}</span>
        </div>
        <div *ngIf="this.isInEditMode" class="d-flex flex-column">
            <div *ngFor="let i of this.question?.imagesUrls" class="py-1">
                <app-image-list-card [selfName]="i" (deleteEvent)="this.deleteImageHandler($event)"
                    (selectEvent)="this.imageCardClickHandler($event)"></app-image-list-card>
            </div>
            <div *ngFor="let i of this.newImages" class="py-1">
                <app-image-list-card [selfName]="i" (deleteEvent)="this.deleteImageHandler($event)"
                    (selectEvent)="this.imageCardClickHandler($event)"></app-image-list-card>
            </div>
            <div>
                <button class="btn btn-outline-primary my-3" (click)="this.uploadImageHandler()">Upload image</button>
            </div>
            <div>
                <button class="btn btn-outline-primary my-3" (click)="this.saveButtonHandler()">Save</button>
            </div>
            <div *ngIf="!this.isInCreateMode">
                <button class="btn btn-outline-danger my-3" (click)="this.deleteButtonHandler()">Delete</button>
            </div>
        </div>
    </div>
</div>
<form class="d-none">
    <input type="file" id="browsefilebutton">
</form>
<button class="d-none" id="delete-question-modal-opener" data-bs-toggle="modal"
    data-bs-target="#delete-question-modal"></button>
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" id="delete-question-modal"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You're about to delete this question. Are you sure you wish to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    (click)="this.sendDeleteRequest()">Delete this question</button>
            </div>
        </div>
    </div>
</div>